
.login{
    flex:1;
    float:left;
    width:50%;
    padding:100px;
    line-height: 70px;
    border:1px solid black;
}

.signup{
    flex:1;
    float:left;
    width:50%;
    padding:100px;
    line-height: 70px;
    border:1px solid black;
}

.flex-container{
    display: flex;
}

button{
    font-size: x-large;
}
